:host {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

main {
  padding: 1rem;
}

::ng-deep .p-inputtext {
  width: 110px !important;
}

::ng-deep .margin-bottom {
  margin-bottom: 10px;
}
