@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

/* stylelint-disable selector-type-no-unknown */
/* change p-columnFilter p-inputtext width */
p-columnFilter .p-inputtext {
  @apply w-27.5;
}
/* stylelint-enable selector-type-no-unknown */
